 

<style>

    .des {
        width: 22% !important;
    }

    .uom {
        width: 11% !important;
    }

    .Zero {
        width: 0% !important;
    }

    .Price {
        width: 9% !important;
    }

    .odd {
        background-color: lightcoral;
        font-weight: bold;
        font-size: 16px;
        color: black;
    }
    .even {
        background-color: #fff2ce;
        font-weight: bold;
        font-size: 16px;
        color: black;
    }
    tr {
        background-color: #b9b9b9;
        color: black;
    }

    .px-5 {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    .px-top {
        padding-bottom: 10% !important;
    }

</style>
<body class="materialdesign"  >
    <div class="content-inner-all">
        <div class="sparkline8-graph col-xs-12 animate__animated animate__backInLeft" style=" border-radius: 50px;background-color: #000000b3;color: aliceblue;font-weight: bold; ">


            <div class="col-xs-12 col-lg-12 col-sm-12  ">
                <h1 class="col-xs-12 col-lg-12 col-sm-12 animate__animated animate__jackInTheBox">Eslam Mamdouh</h1>
            </div>

            <div class="col-xs-12 col-lg-6 col-sm-12 px-top">
                <button id="Open_Profile" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-success animate__animated animate__fadeInBottomRight">      Profile </button>
            </div>
            <div class="col-xs-12 col-lg-6 col-sm-12 px-top">
                <button id="Open_Notes" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-warning  animate__animated animate__fadeInBottomRight">      Notes </button>
            </div>
            <div class="col-xs-12 col-lg-6 col-sm-12 px-top">
                <button id="Open_Data_Server" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-info animate__animated animate__fadeInBottomRight ">      Data Server </button>
            </div>
            <div class="col-xs-12 col-lg-6 col-sm-12 px-top">
                <button id="Open_Get_Views" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-danger  animate__animated animate__fadeInBottomRight">    Work </button>
            </div>
            <div class="col-xs-12 col-lg-6 col-sm-12 px-top">
                <button id="Open_Test_Code" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-info  animate__animated animate__fadeInBottomRight" style="background-color: burlywood;">    Test Code </button>
            </div>

            <div class="col-xs-12 col-lg-6 col-sm-12 px-top">
                <button id="Open_Money_Wallet" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-info  animate__animated animate__fadeInBottomRight" style="background-color: #002980;">    Money Wallet </button>
            </div>

            <div id="Pages" class="col-xs-12 col-lg-12 col-sm-12">

            </div>



        </div>


         


    </div>

</body> 