
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<body class="materialdesign sparkline8-graph col-xs-12  ">


    <div id="Pass" class="display_none content-inner-all animate__animated animate__zoomIn">
        <div id=" " class="sparkline8-graph col-xs-12  " style="border-radius: 50px;">
            <div class="col-xs-12 col-lg-12 col-sm-12">
                <br />
            </div>
            <div class="col-xs-12 col-lg-12 col-sm-12">
                <h1>Password</h1>
            </div>
            <div class="col-xs-12 col-lg-5 col-sm-12">
            </div>
            <div class="col-xs-12 col-lg-2 col-sm-12">
                <input id="txtPassword" type="password" pattern="[0-9]*" inputmode="numeric" class="  form-control  " placeholder="Password" style="text-align: center;">

            </div>
            <div class="col-xs-12 col-lg-12 col-sm-12">
            </div>
            <div class="col-xs-12 col-lg-5 col-sm-12">
            </div>
            <div class="col-xs-12 col-lg-2 col-sm-12">
                <button id="btnLogin" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-info"> Login </button>
            </div>

            <div class="col-xs-12 col-lg-12 col-sm-12">
                <br />
            </div>
        </div>
    </div>

    <div id="Page_mone" class="responsive__tabs animate__animated animate__zoomIn display_none">

        <ul id="label_Tab" class="scrollable-tabs ">
            <li id="Back" class="nav-item">
                <a id="Back" class="nav-link" data-toggle="tab" href="">
                    <i id="Back" class="fa-solid fa-reply-all fa-fade back" style="font-size: 40px;color: #df0303;"></i>
                </a>
            </li>

            <li id="a_Expans" class="nav-item actTab active Respon_width" data_remark="tab_0_Remark">
                <a id="a_Expans" class="nav-link" data-toggle="tab" href="#Tab_0" aria-expanded="true">مصروفات  </a>
            </li>

            <li id="a_Resive" class="nav-item Respon_width" data_remark="tab_1_Remark">
                <a id="a_Resive" class="nav-link" data-toggle="tab" href="#Tab_1"> ايرادات  </a>
            </li>

            <li id="a_View" class="nav-item Respon_width" data_remark="tab_2_Remark">
                <a id="a_View" class="nav-link" data-toggle="tab" href="#Tab_2">  الماليات</a>
            </li>

            <li id="App_Ref" class="">
                <a id="App_Ref" class="" data-toggle="tab" href="">
                    <i id="App_Ref" class="fa-solid fa-clock-rotate-left fa-beat Refresh"></i>
                </a>

            </li>





        </ul>

        <div class="col-xs-12 col-lg-12 col-sm-12 ">

            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <label id="CairoLab"> ( 0 )</label>
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <label id="Al_ahlyLab"> ( 0 )</label>
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <label id="OutDebtLab"> ( 0 )</label>
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <label id="InDebtLab"> ( 0 )</label>
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <label id="CashLab"> ( 0 )</label>
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <label id="BalanceLab"> ( 0 )</label>
            </div>
        </div>






        <div id="Rec_Exch_Tab" class="tab-content ">





            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <input id="txtdate" type="date" name="TrDate" class="form-control  " />
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <input id="txtTrNo" type="number" disabled class="form-control " name="ID" />
            </div>

            <div class="col-xs-12 col-lg-12 col-sm-12 ">
                <br />
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12 ">
                <label>Remark</label>
            </div>
            <div class="col-xs-12 col-lg-11 col-sm-12 ">
                <textarea id="txtRemark" type="text" class="form-control " value="" name="Remars" placeholder="Remars" spellcheck="false"></textarea>
            </div>

            <div class="col-xs-12 col-lg-12 col-sm-12 ">
                <br />
            </div>

            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <select id="TypeSours" class="form-control ">
                    <option value="Cash">Cash</option>
                    <option value="Cairo Bank">Cairo Bank</option>
                    <option value="Al ahly Bank">Al-ahly Bank</option>
                    <option value="Debt">Debt</option>
                </select>
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6 ">
                <input id="txtAmount" type="tel" inputmode="numeric" name="Amount" placeholder="Amount" class="form-control " />
            </div>


            <div class="col-xs-12 col-lg-12 col-sm-12 ">
                <br />
            </div>

            <div class="col-xs-12 col-lg-12 col-sm-12 ">
                <button id="btnExchange" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-danger">    Exchange </button>
                <button id="btnReceipt" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-success">    Receipt </button>
            </div>

        </div>


        <div id="Views_Tab" class="tab-content display_none ">
            <div class="col-xs-12 col-lg-12 col-sm-12 ">
                <br />
            </div>

            <div class="col-xs-2 col-lg-1 col-sm-2 ">
                <label>TrTrans</label>
            </div>
            <div class="col-xs-4 col-lg-5 col-sm-4 ">
                <select id="TypeSoursF" class="form-control ">
                    <option value="All">All</option>
                    <option value="Cash">Cash</option>
                    <option value="Cairo Bank">Cairo Bank</option>
                    <option value="Al ahly Bank">Al-ahly Bank</option>
                    <option value="Debt">Debt</option>
                </select>
            </div>

            <div class="col-xs-2 col-lg-1 col-sm-2 ">
                <label>TrType</label>
            </div>

            <div class="col-xs-4 col-lg-5 col-sm-4 ">
                <select id="TrType" class="form-control ">
                    <option value="All">All</option>
                    <option value="Receipt">Receipt</option>
                    <option value="Exchange">Exchange</option>
                </select>
            </div>


            <div class="col-xs-12 col-lg-12 col-sm-12">
                <br />
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>From Data</label>
            </div>
            <div class="col-xs-12 col-lg-5 col-sm-12">
                <input id="txtDateFrom" type="date" class="form-control ">
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>To Data</label>
            </div>
            <div class="col-xs-12 col-lg-5 col-sm-12">
                <input id="txtDateTo" type="date" class="form-control ">
            </div>

            <div class="col-xs-12 col-lg-12 col-sm-12 ">
                <br />
            </div>



            <div class="col-xs-12 col-lg-12 col-sm-12">
                <button id="btnShow" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-info">    Show </button>
            </div>

            <div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">

                <div class="inside-table my-4">
                    <div class="col-xs-12 col-lg-1 col-sm-12">
                        <label style="font-weight: bold;font-size: 17px;"> Search 🔎</label>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-sm-12">
                        <input id="txtSearch" type="text" class="  form-control " placeholder="Search : ">
                    </div>


                    <h2 id="searchTitle">  <br /></h2>
                    <div id="JGrid">

                    </div>

                    <div class="col-xs-12 col-lg-4 col-sm-12">
                        <div class="col-xs-5 col-lg-4 col-sm-5">
                            <label style="font-weight: bold;font-size: 17px;"> Total Rece </label>
                        </div>

                        <div class="col-xs-7 col-lg-8 col-sm-7">
                            <input id="txtTotalReceipt" type="text" disabled class="  form-control " placeholder="Amount : " style="background-color: aquamarine;">
                        </div>

                    </div>

                    <div class="col-xs-12 col-lg-4 col-sm-12">


                        <div class="col-xs-5 col-lg-4 col-sm-5">
                            <label style="font-weight: bold;font-size: 17px;"> Total Exch </label>
                        </div>

                        <div class="col-xs-7 col-lg-8 col-sm-7">
                            <input id="txtTotalExchange" type="text" disabled class="  form-control " placeholder="Amount : " style="background-color: #ff7f7f;">
                        </div>

                    </div>


                    <div class="col-xs-12 col-lg-4 col-sm-12">
                        <div class="col-xs-5 col-lg-4 col-sm-5">
                            <label style="font-weight: bold;font-size: 17px;"> Total All </label>
                        </div>

                        <div class="col-xs-7 col-lg-8 col-sm-7">
                            <input id="txtTotal" type="text" disabled class="  form-control " placeholder="Amount : ">
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

 
</body>
<script src="~/ClientApp/Quotation/Money_Wallet.js"></script>
