

<body class="materialdesign">

    @*<table class="wrapper">
            <tr id="div_Data" class="tabs">
            </tr>
            <p>Example line outside of tab box</p>
        </table>*@

    <div class="responsive__tabs animate__animated animate__backInLeft">
        <!-- Nav tabs -->
        <ul id="label_Tab" class="scrollable-tabs ">
            <li id="Back" onclick="history.back()" class="nav-item">
                <a id="Back" class="nav-link" data-toggle="tab" href="">
                    <i id="Back" class="fa-solid fa-reply-all fa-fade back" style="font-size: 40px;color: #df0303;"></i>
                </a>
            </li>
            <li id="App_Tap" class=""><a class="" data-toggle="tab" href=""><i class="fa fa-plus-circle Add"></i></a></li>



            

        </ul>


        <!-- Tab panes -->
        <div id="Area_Tab" class="tab-content">




        </div>
    </div>


</body>
<script>
    //$('body').on('click', '.scrollable-tabs li', function () {
    //    $('li').removeClass('actTab');
    //    $('.scrollable-tabs li a.active').removeClass('active');

    //    alert($(this).html())
    //    console.log($(this).html())
    //    if ($(this).html() != '<a class=" " data-toggle="tab" href=""><i class="fa fa-plus-circle Add"></i></a>') {

    //        $(this).addClass('actTab');
    //        let id_Remark = $(this).attr('Data_Remark');

    //        setTimeout(function () { $('#' + id_Remark + '').focus(); }, 150);
    //    }


    //});
</script> 
<script src="~/ClientApp/Quotation/Notes.js"></script>
<script>
  
</script>
