
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    textarea {
        width: 100%;
        font-weight: bold;
    }

    .active {
        /*background-color: white;*/
        font-weight: bold;
    }

    .actTab {
        background-color: white !important;
        font-weight: bold;
        border-radius: 19px 19px 0 0;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
</style>
<link href="~/NewStyle/css/Taps.css" rel="stylesheet" />
<body class="materialdesign">

    @*<table class="wrapper">
            <tr id="div_Data" class="tabs">
            </tr>
            <p>Example line outside of tab box</p>
        </table>*@

    <div class="responsive__tabs">
        <!-- Nav tabs -->
        <ul id="label_Tab" class="scrollable-tabs">

            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#Tab_1">Tab_1</a>
            </li>

           



        </ul>


        <!-- Tab panes -->
        <div id="Area_Tab" class="tab-content">

            <div class="tab-pane   active" id="Tab_1">
                <div class="card">
                    <input id="ID${cnt}" type="hidden" />
                    <textarea id="tab_${cnt}_Remark" cols="2" rows="25">  </textarea>
                </div>
            </div>

           
        </div>
    </div>


</body>
<script>
    $('body').on('click', '.scrollable-tabs li', function () {
        $('li').removeClass('actTab');
        $('.scrollable-tabs li a.active').removeClass('active');
        $(this).addClass('actTab');

        debugger
        let id_Remark = $(this).attr('Data_Remark');

        setTimeout(function () { $('#' + id_Remark + '').focus(); }, 150);
         
    });
</script>
<script src="~/ClientApp/App.js"></script>
<script src="~/ClientApp/SystemTools.js"></script>
<script src="~/ClientApp/Shared.js"></script>
<script src="~/ClientApp/Quotation/Notes.js"></script>