
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    .des {
        width: 22% !important;
    }

    .uom {
        width: 11% !important;
    }

    .Zero {
        width: 0% !important;
    }

    .Price {
        width: 9% !important;
    }

    .odd {
        background-color: lightcoral;
        font-weight: bold;
        font-size: 16px;
        color: black;
    }
    .even {
        background-color: #fff2ce;
        font-weight: bold;
        font-size: 16px;
        color: black;
    }
    tr {
        background-color: #b9b9b9;
        color: black;
    }

    .px-5 {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

</style>
<body class="materialdesign">
    <div class="content-inner-all">
        <div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">

            <div class="col-xs-12 col-lg-12 col-sm-12">
                <button id="Open_Page" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-danger display_none">    Open Mess </button>
                <h1 class="col-xs-12 col-lg-12 col-sm-12">Eslam Mamdouh</h1>
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12 ">
                <label>Server</label>
            </div>
            <div class="col-xs-12 col-lg-3 col-sm-12 ">
                @*<input  type="text"  />*@
                <input id="Server" type="text" class="form-control " value="172.107.180.168" name="Server" list="ServerName">
                <datalist id="ServerName">
                    @*<option value="SQL5070.site4now.net">*@
                    <option value="172.107.180.168">
                </datalist>
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>User</label>
            </div>
            <div class="col-xs-12 col-lg-3 col-sm-12">
                <input id="User" type="text" class="form-control " value="SYSUSER" name="Server" list="UserName">
                <datalist id="UserName">
                    @*<option value="db_a7d7aa_newtax_admin">*@
                    <option value="SYSUSER">
                </datalist>
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>Password</label>
            </div>
            <div class="col-xs-12 col-lg-3 col-sm-12 animated animate backInDown">
                @*<input id="Password" type="password" class="form-control " value="619619Ss619619" />*@
                <input id="Password" type="text" class="form-control " value="SYSUSER2020" name="Password" list="PasswordName">
                <datalist id="PasswordName">
                    @*<option value="619619Ss619619">*@
                    <option value="SYSUSER2020">
                </datalist>
            </div>

            <div class="col-xs-12">
                <br />
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12">

            </div>

            <div class="col-xs-12 col-lg-3 col-sm-12">
                <button id="Conact" value="Conact" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-success">   Conact </button>
            </div>


            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>Database</label>
            </div>
            <div class="col-xs-12 col-lg-3 col-sm-12">
                @*<input id="Database" type="text" class="form-control " value="db_a7d7aa_newtax" />*@
                <select id="Database" class="form-control "></select>
            </div>


            <div class="col-xs-12 col-lg-1 col-sm-12">

            </div>
            <div class="col-xs-12 col-lg-3 col-sm-12">
                <button id="ConactServer" value="Conact" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-success">   Action Data </button>
            </div>


            <div class="col-xs-12">
                <br />
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>Data Sours</label>
            </div>
            <div class="col-xs-12 col-lg-3 col-sm-12">
                <select id="DataSours" class="form-control "></select>
            </div>



            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>New Query</label>
            </div>
            <div class="col-xs-12 col-lg-5 col-sm-12">
                <textarea id="New_Query" type="text" class="form-control " value=""></textarea>
            </div>

            <div class="col-xs-12 col-lg-1 col-sm-12">
                <label>Top</label>
            </div>
            <div class="col-xs-12 col-lg-1 col-sm-12">
                <select id="top" class="form-control ">
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>

            <div class="col-xs-12">
                <br />
            </div>

            <div class="col-xs-12 col-lg-12 col-sm-12">
                <button id="GenerateModels" value="Generate Models" class="col-xs-12 col-lg-12 col-sm-12 btn btn-custon-four btn-danger">    Execute </button>
            </div>




        </div>




        <div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">

            <div class="inside-table my-4">
                <h2 id="searchTitle"></h2>
                <div id="tableDiv">

                </div>
            </div>

        </div>

        <div id="Grad1" class="sparkline8-graph col-xs-12" style="border-radius: 50px;">

        </div>




    </div>




</body>
<script src="~/ClientApp/App.js"></script>
<script src="~/ClientApp/SystemTools.js"></script>
<script src="~/ClientApp/Shared.js"></script>
<script src="~/ClientApp/DataTable.js"></script>
<script src="~/ClientApp/Quotation/TestGrad.js"></script>