html, body {
    height: 99%;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #f2f2f2;
    background: #24c7b8;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgb(0 73 66) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(97 161 155 / 64%);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #151719;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -29px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 50px;
    margin-top: -30%;
}

    .waviy span {
        font-family: 'Alfa Slab One', cursive;
        position: relative;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        animation: waviy 1s infinite;
        animation-delay: calc(.1s * var(--i));
    }

@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}




.button_Error {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #f2f2f2;
    background: #24c7af;
    background: linear-gradient(90deg, rgb(230 129 129) 0%, rgb(73 0 0) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(161 97 97 / 64%);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

    .button_Error::before {
        content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #ff0000;
        box-shadow: 0 0 60px rgb(255 0 0 / 64%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
    }

    .button_Error:hover, .button_Error:focus {
        color: #313133;
        transform: translateY(-6px);
    }

        .button_Error:hover::before, button_Error:focus::before {
            opacity: 1;
        }

    .button_Error::after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 6px solid #c90000;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
    }

    .button_Error:hover::after, .button_Error:focus::after {
        animation: none;
        display: none;
    }
